{% extends "base" %}

{% block title %}Launchpad{% endblock title %}

{% block content %}
<h1>Session Example</h1>
<h2 class="text-3xl">
    Hello,
    {% if user.name %}
        {{ user.name }}
    {% else %}
        World!
    {% endif %}
</h2>
<p>Logged in with user ID {{ user.id }}.</p>
<form action="/api/auth/logout" method="post" accept-charset="utf-8">
   <input type="submit" name="logout" id="logout" value="logout" />
</form>
{% endblock content %}
