{% extends "base" %}

{% block title %}Login{% endblock title %}

{% block content %}

{% if flash %}
   <p class="text-red-500 text-sm italic">{{ flash }}</p>
{% endif %}


{% include "components/form" %}

<div>
  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/register">
    Register for an account
  </a>
</div>

{% endblock content %}
