<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Launchpad{% endblock title %}</title>
    <meta name="description" content="Batteries included Rust web toolkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> #}

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link href="public/css/tailwind.css" rel="stylesheet">

    {# <meta name="theme-color" content="#fafafa" /> #}
  </head>
  <body style="height: 100vh;" class="flex flex-col justify-between">
    {% include "components/header" %}
    <main class="container mx-auto flex flex-col items-center p-8">
      {% block content %}{% endblock content %}
    </main>
    {% include "components/footer" %}
  </body>
</html>
